html{
    height: 100%;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: rgb(221,221,221);
    color: rgb(17,17,17);
    font-weight: 800;
    font-size: 4rem;
    font-family: 'Indie Flower', cursive;
}

input[type="radio"]{
    display: none;
}

form {
    height: 100%;
}

form input {
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid rgb(17,17,17);
    width: 50%;
    font-size: 6rem;
}

main {
    height: 100%;
}

label {
    display: block;
    width: 100%;
    height: 100%;
    align-items: center;
}

.submit {
    font-size: 5rem;
    width: 50%;
    color: rgb(17,17,17);
    background: transparent;
    margin-top: 3%;
    border: 4px solid rgb(17,17,17);
}

.submit:hover {
    color: rgb(255,215,0);
    border: 4px solid rgb(255,215,0);
}

.container {
    /* display: grid; */
    margin: auto;
    width: 80%;
    text-align: center;
    height: 60%;
}

.wrapper {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    grid-template-rows: 30% 30%;
    grid-row-gap: 5%;
    height: 60%;
}


.answers {
    color: rgb(221,221,221);
    background-color: rgb(17,17,17);
    box-sizing: border-box;
}

/* .answers:hover {
    color: rgb(255,215,0);
    background: transparent;
    border: 1px solid rgb(255,215,0);
} */

.answers-clicked {
    color: rgb(255,215,0);
    background: transparent;
    border: 3px solid rgb(255,215,0);
    box-shadow: 3px 3px 3px rgb(255,215,0);
}

.row {
    box-sizing: border-box;
    
}

.golden {
    color: rgb(255,215,0);
}

.select {
    appearance: none;
    background-color: rgb(17,17,17);
    color: rgb(221,221,221);
    font-size: 6rem;
}

#start-button {
    margin-top: 25%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    
    .container {
        width: 100%;
        height: 100%;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        height: 100%; 
    }

    .submit {
        font-size: 4rem;
        width: 100%; 
    }

    .select {
        font-size: 4rem;
    }
}

